<div class="ibox float-e-margins">
	<div class="ibox-title">	
		<h5>Netzwerk Chat</h5>
	</div>
	<div class="ibox-content">
		<div>
			<div class="chat-discussion" th:attr="data-socket=@{/api/messenger}">
				<div th:each="msg, iterState : ${Messages}" class="chat-message" th:classappend="${iterState.odd} ? 'left' : 'right'">
					<img th:alt="${msg.Sender.DisplayName}" class="message-avatar"
							th:if="${msg.Sender.Profile != null AND msg.Sender.Profile.hasAttribute('ProfileImageUUID')}" 
								th:src="@{__'/files' + ${@FileManager.createDownloadUrlSegment(msg.Sender.Profile.getString('ProfileImageUUID'))} + '_61_61'__}" />
						<i th:unless="${msg.Sender.Profile != null AND msg.Sender.Profile.hasAttribute('ProfileImageUUID')}"  
								class="fa fa-user fa-4x message-avatar" 
								th:title="${msg.Sender.DisplayName}"></i>
					<div class="message">
						<a class="message-author" href="#" th:text="${msg.Sender.DisplayName}"></a>
						<span class="message-date" th:text="${#dates.format(msg.lastModified, 'dd.MMM.yyyy HH:mm')}"> Mon Jan 26 2015 - 18:39:23 </span>
						<span class="message-content" th:utext="${msg.Content}">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="chat-form">
			<form th:action="@{/api/messenger}" method="POST" id="chatForm" role="form">
				<input type="hidden" th:value="${CurrentUser.UUID}" name="userId"/>
				<div class="form-group m-b-xs">
					<textarea class="form-control" id="newChatMessage" name="content" placeholder="Nachricht"></textarea>
				</div>
				<p class="pull-left m-l-md">Drücke Strg + Enter zum Senden</p>
				<div class="text-right">
					<button type="submit" class="btn btn-sm btn-primary m-t-n-xs">
						<strong>Senden</strong>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" th:inline="javascript">
	$('.chat-discussion').scrollTop(999999);
</script>