<!DOCTYPE html>
<html th:include="email/layout :: layout">
<head>
</head>
<body>
	<th:block th:fragment="content">
		<h2>Hallo <span th:text="${Recipient.DisplayName}"></span></h2>
		<h3>
			es gibt neue Nachrichten im Netzwerkchat.
		</h3>
		<div>
			<p>Die neueste Nachricht ist von <span th:text="${Message.Sender.DisplayName}">Hans Wurst</span>:</p>
			<p th:utext="${Message.Content.Text}"></p>
		</div>
		<div>
			Wenn du antworten möchtest, kannst du einfach <a th:href="${Host} + '/network/'">hier</a> klicken!
		</div>
	</th:block>
</body>
</html>