<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:include="backend/layout :: layout">
<head>
	<title th:fragment="title" th:text="'Lieferanten | NETZWERK wohnen'"></title>
	<th:block th:fragment="styles">
		<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
		<link th:href="@{/css/plugins/select2/select2.min.css}" rel="stylesheet" />
	</th:block>
	<th:block th:fragment="scripts">
		<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
		<script th:src="@{/js/custom.js}"></script>
	</th:block>
</head>
<body>
	<th:block th:fragment="content">
		<th:block th:include="suppliers/inc/supplierNotifications"></th:block>
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-9">
				<h2>Lieferantenliste</h2>
				<ol class="breadcrumb">
					<li>
						<a th:href="@{/network}">Dashboard</a>
					</li>
					<li class="active">
						<strong>Lieferanten</strong>
					</li>
				</ol>
			</div>
		</div>
		
		<div class="wrapper wrapper-content	animated fadeIn">
			<div class="row">
				<div class="col-lg-12">
                    <div class="ibox float-e-margins page">
                    	<div class="ibox-title">
							<div th:if="${CurrentUser.isAdmin()}" class="ibox-tools">
								<a th:href="@{/network/suppliers/create}" class="btn btn-primary btn-xs">
									<i class="fa fa-plus fa-fw"></i>
									<span>Neuer Lieferant</span>
								</a>
							</div>
						</div>
                        <div class="ibox-content">
                        	<div class="project-list" th:unless="${page.TotalElements == 0}">
                        		<div class="row">
                        			<h3 th:if="${param.q}" class="col-sm-3 pull-left">
                        				<span th:text="${page.TotalElements}">2</span>
                        				gefilterte Ergebnis(se) für:
                        				<a th:href="@{/network/suppliers/}" 
                        						class="btn btn-sm btn-info"
                        						title="Filter entfernen">
                        					<span th:text="'&quot;' + ${param.q[0]} + '&quot;'"></span>
                        					<i class="fa fa-close fa-fw"></i>
                       					</a>
                        			</h3>
                        			<div class="col-sm-3 pull-right">
                        				<form th:action="@{/network/suppliers/}" method="GET">
	                        				<div class="input-group">
	                        					<input type="text" placeholder="In Lieferanten suchen"
	                        							th:value="${param.q} ? ${param.q[0]} : ''"
	                        							name="q" class="input-sm form-control" /> 
	                        					<span class="input-group-btn">
	                                        		<button type="submit" class="btn btn-sm btn-primary">
	                                        			<i class="fa fa-search fa-fw"></i>
	                                        		</button> 
	                                        	</span>
	                                        </div>                        				
                        				</form>
                        			</div>
                        		</div>
                                <table class="table table-hover" data-paging="auto">
									<thead>
                                    	<tr>
                                    		<th>
                                    			<a title="Sortieren" class="sorted" sd:pagination-sort="approvalState">Status</a>
                                    		</th>
                                    		<th>Logo</th>
                                    		<th>
                                    			<a title="Sortieren" class="sorted alpha" sd:pagination-sort="name">Name</a>
                                   			</th>
                                    		<th>
                                    			<a title="Sortieren" class="sorted alpha" sd:pagination-sort="description">Weitere Informationen</a>
                                   			</th>
                                    		<th>&nbsp;</th>
                                    	</tr>
                                   	</thead>
                                    <tbody>
	                                    <tr th:each="supplier : ${page}">
	                                        <td class="project-status">
	                                            <span class="label label-danger text-uppercase" th:if="${supplier.ApprovalStatus == 0}" title="Ungeprüft">
					                           		<i class="fa fa-question fa-fw"></i>
					                           	</span>
					                           	<span class="label label-info text-uppercase" th:if="${supplier.ApprovalStatus == 1}" title="Geprüft">
					                           		<i class="fa fa-check fa-fw"></i>
					                           	</span>
	                                        </td>
	                                        <td class="project-image">
	                                        	<img th:alt="${supplier.Name}" class="m-t-xs supplier-list-img"
														th:if="${supplier.hasLogo()}"
														th:src="@{__'/files' + ${@FileManager.createDownloadUrlSegment(supplier.LogoFileInformationUUID)}__}" />
	                                        </td>
	                                        <td class="project-title">
	                                            <a th:href="@{/network/suppliers/{supplierId}/ (supplierId = ${supplierUUID})}" th:text="${supplier.Name}"></a>
	                                        </td>
	                                        <td class="project-description hidden-xs hidden-sm" th:text="${supplier.Description}">
	                                        </td>
	                                        <td class="project-actions" th:if="${CurrentUser.isAdmin()}">
	                                            <a th:href="@{/network/suppliers/{supplierId}/edit (supplierId = ${supplier.UUID})}" class="btn btn-white btn-sm">
	                                            	<i class="fa fa-pencil"></i>
                                            	</a>
	                                        </td>
	                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
	                                <ul class="pagination" sd:pagination="full">
							            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
							            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
							            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							        </ul>
                                </div>
                            </div>
							                           		
                        	<div class="row" th:if="${page.TotalElements == 0}">
                           		<h5 class="m-l-lg">
                           			Es wurden noch keine Lieferanten freigegeben.
                           		</h5>
                        	</div>
                        </div>
                    </div>
                </div>
			</div>
        </div>
	</th:block>
	<th:block th:fragment="footerScripts">
		<script th:src="@{/js/plugins/select2/select2.full.min.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			    $('.i-checks').iCheck({
			        checkboxClass: 'icheckbox_square-green',
			        radioClass: 'iradio_square-green',
			    });
			    $('.i-checks-all').iCheck({
			        checkboxClass: 'icheckbox_square-green select-all',
			        radioClass: 'iradio_square-green',
			    });
			    
			    $('.i-checks-all')
			    	.on('ifChecked', function() {
			    		$('.i-checks').iCheck('check');
			    	})
			    	.on('ifUnchecked', function() {
			    		$('.i-checks').iCheck('uncheck');
			    	});
			    
			    $('.i-checks')
			    	.on('ifUnchecked', function() {
			    		 $('.i-checks-all').iCheck('indeterminate');
			    	});
			    
			    $('[name="multipleAction"]').select2({
	                placeholder: "Aktion auswählen",
	            });
			});
		</script>
	</th:block>
</body>
</html>